#service.big-dg 
  = render "header"
  .wrapper 
    %h2.page-title About

#about.wrapper 
  %h2 
    %p COMPANY INFO 
    %em 会社概要
  %table 
    %tbody 
      %tr
        %th
          %p 社名
        %td 
          %p 岡本産業株式会社
      %tr
        %th
          %p 本社所在地
        %td 
          %span 〒799-1605 
          %span 愛媛県今治市朝倉南甲92-1
      %tr
        %th
          %p 連絡先
        %td 
          %span Tel : 0898-56-2161 
          %span /
          %span Fax : 0898-11-1111
          %span /
          %span Mail : kkkk@gmail.com
      %tr
        %th
          %p 設立
        %td 
          %p 1960 年 12月 4日
      %tr
        %th
          %p 代表者
        %td 
          %span 代表取締役
          %span 岡本貴文
          %span 岡本和洋
      %tr
        %th
          %p 社員数
        %td 
          %p 20 名 (2019 年 12月 31日現在)
      %tr
        %th
          %p 取引銀行
        %td 
          %span 愛媛銀行
          %span 高知銀行
      %tr
        %th
          %p 業務内容
        %td 
          %p ・ああああああああああ
          %p ・ああああああああああ
          %p ・ああああああああああ
          
      

= render "footer"