= javascript_include_tag 'home'

.image-crossfader
  #home.big-bg.image-crossfader-inner.is-visible
    = render "header"
    .home-content.wrapper
      %h2.page-title We'll Make Your TOWEL 
      %p あなたの欲しいタオルを作ります。
      =link_to service_homepages_path, class: "button" do
        サービスを見る
  #home2.image-crossfader-inner
    = render "header"
    .home-content.wrapper
      %h2.page-title We'll Make Your TOWEL 
      %p あなたの欲しいタオルを作ります。
      =link_to service_homepages_path, class: "button" do
        サービスを見る
  #home3.image-crossfader-inner
    = render "header"
    .home-content.wrapper
      %h2.page-title We'll Make Your TOWEL 
      %p あなたの欲しいタオルを作ります。
      =link_to service_homepages_path, class: "button" do
        サービスを見る