= javascript_include_tag 'item'

#service.big-dg 
  = render "header"
  .wrapper 
    %h2.page-title Item

.item-contents
  .item-request
    %p.request 注文依頼はこちらから 
    %ul
      %li 
        %p.phone-number 0898 - 56 - 2161
      %li
        %p.mail-address kkkkkkkk@s.com


.slider-for.wrapper{style: "margin-bottom: 10px;"}
  %figure
    %img{src: "../images/img1.jpg"}
  %figure
    %img{src: "../images/img2.jpg"}
  %figure
    %img{src: "../images/img3.jpg"}
  %figure
    %img{src: "../images/img1.jpg"}
  %figure
    %img{src: "../images/img2.jpg"}
  %figure
    %img{src: "../images/img3.jpg"}
  %figure
    %img{src: "../images/img1.jpg"}
  %figure
    %img{src: "../images/img2.jpg"}
  %figure
    %img{src: "../images/img3.jpg"}
.slider-nav.wrapper
  %figure
    %img{src: "../images/img1.jpg"}
  %figure
    %img{src: "../images/img2.jpg"}
  %figure
    %img{src: "../images/img3.jpg"}
  %figure
    %img{src: "../images/img1.jpg"}
  %figure
    %img{src: "../images/img2.jpg"}
  %figure
    %img{src: "../images/img3.jpg"}
  %figure
    %img{src: "../images/img1.jpg"}
  %figure
    %img{src: "../images/img2.jpg"}
  %figure
    %img{src: "../images/img3.jpg"}

.wrapper.grid 
  .item 
    %img{src: "../images/img1.jpg", alt: "詳細detail詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail"}
    %ul
      %li
        %p 商品名 
        %p (size : 約33×75cm)
      %li
        %p ¥ 10,000
  .item 
    %img{src: "../images/img2.jpg", alt: "詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail"}
    %ul
      %li
        %p 商品名
        %p (size : 約33×75cm)
      %li
        %p ¥ 10,000
  .item 
    %img{src: "../images/img3.jpg", alt: "詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail"}
    %ul
      %li
        %p 商品名
        %p (size : 約33×75cm)
      %li
        %p ¥ 10,000
  .item 
    %img{src: "../images/img1.jpg", alt: "詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail"}
    %ul
      %li
        %p 商品名
        %p (size : 約33×75cm)
      %li
        %p ¥ 10,000
  .item 
    %img{src: "../images/img2.jpg", alt: "詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail"}
    %ul
      %li
        %p 商品名
        %p (size : 約33×75cm)
      %li
        %p ¥ 10,000
  .item 
    %img{src: "../images/img3.jpg", alt: "詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail"}
    %ul
      %li
        %p 商品名
        %p (size : 約33×75cm)
      %li
        %p ¥ 10,000
  .item 
    %img{src: "../images/img1.jpg", alt: "詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail"}
    %ul
      %li
        %p 商品名
        %p (size : 約33×75cm)
      %li
        %p ¥ 10,000
  .item 
    %img{src: "../images/img2.jpg", alt: "詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail"}
    %ul
      %li
        %p 商品名
        %p (size : 約33×75cm)
      %li
        %p ¥ 10,000
  .item 
    %img{src: "../images/img3.jpg", alt: "詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail 詳細 detail"}
    %ul
      %li
        %p 商品名
        %p (size : 約33×75cm)
      %li
        %p ¥ 10,000

= render "footer"