#service.big-dg 
  = render "header"
  .wrapper 
    %h2.page-title Recruit 

#recruit.wrapper
  %table
    %thead 
      %tr 
        %th.orange RECRUIT
        %th 岡本産業株式会社
    %tbody 
      %tr 
        %th 業務内容
        %td ああああああああああああああ
      %tr 
        %th 資格・経験
        %td あれば望ましいですが、未経験でも可能です。
      %tr 
        %th 給与
        %td 要相談
      %tr 
        %th 勤務地
        %td 愛媛県今治市朝倉北甲97-1
      %tr 
        %th 選考方法
        %td メールでお問合せ頂いた後に、電話かメールにてお話させて頂きます。
      %tr 
        %th 応募方法
        %td メールでご応募ください。
      %tr 
        %th 応募先
        %td kkkkkkkkk@gmail.com



= render "footer"

