#service.big-dg 
  = render "header"
  .wrapper 
    %h2.page-title Service

.service-contents
  .service-request
    %p.request お仕事依頼はこちらから 
    %ul
      %li 
        %p.phone-number 0898 - 56 - 2161
      %li
        %p.mail-address kkkkkkkk@s.com
  %article
    %img{src: "../images/main-bg.jpg", width: "313", height: "269", alt: "service1"}
    %h3 Sevice1 
    %p photo1：Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  %article
    %img{src: "../images/main-bg.jpg", width: "313", height: "269", alt: "service2"}
    %h3 Sevice2
    %p photo1：Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  %article
    %img{src: "../images/main-bg.jpg", width: "313", height: "269", alt: "service1"}
    %h3 Sevice3 
    %p photo1：Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  %article
    %img{src: "../images/main-bg.jpg", width: "313", height: "269", alt: "service1"}
    %h3 Sevice4 
    %p photo1：Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

= render "footer"